@media (min-width: 1024px) {
    *{
    outline: none !important;
    scrollbar-color: #718096 #cbd5e0;
    scrollbar-width: thin;
}
::-webkit-scrollbar{width:7px;height:7px}::-webkit-scrollbar-track{background:#cbd5e0}::-webkit-scrollbar-thumb{background:#718096}::-webkit-scrollbar-thumb:hover{background:#2d3748}
}
@font-face {
  font-family: Emoji;
  src: local("Apple Color Emojiji"), local("Segoe UI Emoji"), local("Segoe UI Symbol"), local("Noto Color Emoji");
  unicode-range: U+1F000-1F644, U+203C-3299;
}
body {
  font-family: system-ui, —apple-system, Segoe UI, Rototo, Emoji, Helvetica, Arial, sans-serif;
}
[x-cloak] { display: none !important; }
a{
    -webkit-touch-callout:none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@supports (-webkit-touch-callout: inherit) {
	#header {
		background-attachment: scroll !important;
	}
}

/*文字行数限制*/
.line-1 {
    word-break: break-all;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.line-2 {
    word-break: break-all;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.line-3 {
    word-break: break-all;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
/*页面允许滚动*/
.content {
    position: absolute;
    max-height: 100%;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding-bottom: 4rem;/*距离底部间距*/
}
.pageback.content {
    padding-bottom: 8rem;/*带返回按钮时距离底部间距*/
}
/*单页加载动画*/
.mask {
    background-color: rgba(63,81,181,0.68);
    color: #fff;
}
a > .mask { display: inline; width: 26px; right: 8px; left: auto; background-color: transparent; -webkit-transform: scale(.8,.8); -ms-transform: scale(.75,.75); transform: scale(.75,.75); }
a.media > .mask,a.zeload > .mask {
    width: 100%;
    right: 0;
    left: 0;
    -webkit-transform: scale(1,1);
    -ms-transform: scale(1,1);
    transform: scale(1,1);
    background: rgba(63,81,181,0.68);
}
a.media > .mask s.loading{
    color: #fff;
}

@media (prefers-color-scheme: dark) {
#container > .mask s.loading { 
    color: #fff;
}
}
s.loading {
    width: 24px;
    height: 24px;
}
a > .mask s.loading {
    width: 16px;
    height: 16px;
}

/*--------------------------------------------------------------
## Media
--------------------------------------------------------------*/
iframe,
embed{
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.media {
  position: relative;
  display: block;
  padding: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-radius: inherit;
  overflow: hidden;
}

.media:after {
  content: '';
  display: block;
  padding-top: 100%;
}
.media:after{
background-image: url(data:image/gif;base64,R0lGODlhEgASAIABAKa4zP///yH/C05FVFNDQVBFMi4wAwEAAAAh+QQJAwABACwAAAAAEgASAEACJwyOoYa3D6N8rVqgLp5M2+x9XcWBTTmGTqqa6qqxFInWUMzhk76TBQAh+QQJAwABACwAAAAAEgASAEACKQyOoYa3D6NUrdHqGJ44d3B9m1ZNZGZ+YXmKnsuq44qaNqSmnZ3rllIAACH5BAkDAAEALAAAAAASABIAQAIpDI6hhrcPo2zt0cRuvG5xoHxfyE2UZJWeKrLtmZ3aWqG2OaOjvfPwUgAAIfkECQMAAQAsAAAAABIAEgBAAigMjqGGtw8jbC3SxO67bnLFhQD4bZRkap4qli37qWSF1utZh7a+41ABACH5BAkDAAEALAAAAAASABIAQAIqDI6hhrcP42pNMgoUdpfanXVgJSaaZ53Yt6kj+a6lI7tcioN5m+o7KSkAACH5BAkDAAEALAAAAAASABIAQAIoDI6hhrcPI2tOKpom3vZyvVEeBgLdKHYhGjZsW63kMp/Sqn4WnrtnAQAh+QQJAwABACwAAAAAEgASAEACKAyOocvtCCN0TB5lM6Ar92hYmChxX2l6qRhqYAui8GTOm8rhlL6/ZgEAIfkECQMAAQAsAAAAABIAEgBAAigMjqHL7QgjdEyeJY2leHOdgZF4KdYJfGTynaq7XmGctuicwZy+j2oBACH5BAkDAAEALAAAAAASABIAQAInDI6hy+0II3RMHrosUFpjbmUROJFdiXmfmoafMZoodUpyLU5sO1MFACH5BAkDAAEALAAAAAASABIAQAImDI6hy+2GDozyKZrspBf7an1aFy2fuJ1Z6I2oho2yGqc0SYN1rRUAIfkECQMAAQAsAAAAABIAEgBAAiYMjqHL7W+QVLJaAOnVd+eeccliRaXZVSH4ee0Uxg+bevUJnuIRFAAh+QQJAwABACwAAAAAEgASAEACKoyBacvtnyI4EtH6QrV6X5l9UYgt2DZ1JRqqIOm1ZUszrIuOeM6x8x4oAAAh+QQJAwABACwAAAAAEgASAEACKIwNqcftryJAMrFqG55hX/wcnlN9UQeipZiGo9vCZ0hD6TbiN7hSZwEAIfkECQMAAQAsAAAAABIAEgBAAiiMH6CL7Z+WNHK2yg5WdLsNQB12VQgJjmZJiqnriZEl1y94423aqlwBACH5BAkDAAEALAAAAAASABIAQAIrjH+gi+2+IjCSvaoo1vUFPHnfxlllBp5mk4qt98KSSKvZCHZ4HtmTrgoUAAAh+QQFAwABACwAAAAAEgASAEACKIyPAcvpr5g0csJYc8P1cgtpwDceGblQmiey69W6oOfEon2f6KirUwEAIfkECQMAAQAsAAAPAAgAAwBAAgSMj6lXACH5BAkDAAEALAAAAAASABIAQAIYjI+JwK0Po5y02glUvrz7bzXiBpbLaD4FACH5BAkDAAEALAAAAAASABIAQAImjI8By8qfojQPTldzw/VymB3aCIidN6KaGl7kSnWpC6ftt00zDRUAIfkECQMAAQAsAAAAABIAEgBAAiaMjwHLyp+iNA9WcO6aVHOneWBYZeUXouJEiu1lWit7jhCX4rMEFwAh+QQJAwABACwAAAAAEgASAEACJ4yPAcvKn6I0r1pA78zWQX51XrWBSzl+Uxia7Jm+mEujW3trubg3BQAh+QQFAwABACwAAAAAEgASAEACJwyOoYa3D6N8rVqgLp5M2+x9XcWBTTmGTqqa6qqxFInWUMzhk76TBQA7);
    background-repeat: no-repeat;
    background-position: 50%;
}

.media-circle .media {
  border-radius: 500px;
}

.media-circle .media .media-content:before {
  width: 50%;
  left: 25%;
}

.media-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem 1rem;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
}

.media-overlay.overlay-top {
  bottom: auto;
}

.media-overlay.overlay-bottom {
  top: auto;
}

.media-action {
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.media-action.active {
  opacity: 1;
}

.media-action.media-action-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 0 5%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  border-radius: inherit;
}

.media-action.media-action-overlay .btn {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  color: inherit;
}

.list-item:hover .media-action,
.list-item:active .media-action,
.media:hover .media-action,
.media:active .media-action,
.active>.media .media-action {
  opacity: 1;
  pointer-events: initial;
}

.media iframe,
.media-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: rgba(120, 120, 120, 0.1);
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.media-content:before {
  content: '';
  position: absolute;
  height: 10%;
  width: 90%;
  left: 5%;
  bottom: 0;
  background: inherit;
  background-position-y: 100%;
  filter: blur(10px);
}

.circle .media-content:before {
  width: 40%;
  left: 30%;
}

.media-21x9:after {
  padding-top: 42.857143%;
}

.media-16x9:after {
  padding-top: 56.25%;
}

.media-4x3:after {
  padding-top: 75%;
}


.media-2x3:after {
  padding-top: 150%;
}

.media-10x14:after {
  padding-top: 140.5%;
}

.media-3x4:after {
  padding-top: 133.33333%;
}

.media-1x2:after {
  padding-top: 200%;
}

.media-2x1:after {
  padding-top: 50%;
}

.media-3x1:after {
  padding-top: 33%;
}

.media-4x1:after {
  padding-top: 25%;
}

.media-1-4:after {
  padding-top: 25vh;
  min-height: 10rem;
}

.media-1-3:after {
  padding-top: 33vh;
  min-height: 12.5rem;
}

.media-1-2:after {
  padding-top: 50vh;
  min-height: 15rem;
}
#links .media::after {
    background-image: none;
}
.ojbk {
    background-image:unset;
    background-color: #ffffff;
}
.dark .ojbk {
    background-color: #101827;
}
img.error {
  display: inline-block;
  transform: scale(1);
  content: '';
  color: transparent;
}
img.error::before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 100%; height: 100%;
  filter: none;
}
img.error::after {
  content: attr(alt);
  position: absolute;
  left: 0; bottom: 0;
  width: 100%;
  line-height: 2;
  background-color: rgba(0,0,0,.5);
  color: white;
  font-size: 12px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
img.error::before {
  background-color: #f5f5f5 url("data:image/svg+xml,%3Csvg class='icon' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' width='200' height='200'%3E%3Cpath d='M304.128 456.192c48.64 0 88.064-39.424 88.064-88.064s-39.424-88.064-88.064-88.064-88.064 39.424-88.064 88.064 39.424 88.064 88.064 88.064zm0-116.224c15.36 0 28.16 12.288 28.16 28.16s-12.288 28.16-28.16 28.16-28.16-12.288-28.16-28.16 12.288-28.16 28.16-28.16z' fill='%23e6e6e6'/%3E%3Cpath d='M887.296 159.744H136.704C96.768 159.744 64 192 64 232.448v559.104c0 39.936 32.256 72.704 72.704 72.704h198.144L500.224 688.64l-36.352-222.72 162.304-130.56-61.44 143.872 92.672 214.016-105.472 171.008h335.36C927.232 864.256 960 832 960 791.552V232.448c0-39.936-32.256-72.704-72.704-72.704zm-138.752 71.68v.512H857.6c16.384 0 30.208 13.312 30.208 30.208v399.872L673.28 408.064l75.264-176.64zM304.64 792.064H165.888c-16.384 0-30.208-13.312-30.208-30.208v-9.728l138.752-164.352 104.96 124.416-74.752 79.872zm81.92-355.84l37.376 228.864-.512.512-142.848-169.984c-3.072-3.584-9.216-3.584-12.288 0L135.68 652.8V262.144c0-16.384 13.312-30.208 30.208-30.208h474.624L386.56 436.224zm501.248 325.632c0 16.896-13.312 30.208-29.696 30.208H680.96l57.344-93.184-87.552-202.24 7.168-7.68 229.888 272.896z' fill='%23e6e6e6'/%3E%3C/svg%3E") no-repeat center / 50% 50%;
}



.dotted-background {
    height: 180px;
    left: 0;
    overflow: visible;
    position: absolute;
    right: 0;
    top: -6vw;
    -webkit-transform: skewY(-5deg);
    -ms-transform: skewY(-5deg);
    transform: skewY(-5deg);
}

.dotted-background__dots{
    bottom: -175px;
    height: 300px;
    -webkit-mask-image: -webkit-gradient(linear,left bottom,left top,color-stop(-10%,hsla(0,0%,100%,0)),color-stop(80%,#fff),to(hsla(0,0%,100%,0)));
    -webkit-mask-image: -webkit-linear-gradient(bottom,hsla(0,0%,100%,0) -10%,#fff 80%,hsla(0,0%,100%,0));
    mask-image: -webkit-gradient(linear,left bottom,left top,color-stop(-10%,hsla(0,0%,100%,0)),color-stop(80%,#fff),to(hsla(0,0%,100%,0)));
    mask-image: linear-gradient(0deg,hsla(0,0%,100%,0) -10%,#fff 80%,hsla(0,0%,100%,0));
    position: absolute;
    -webkit-transform: skewY(3deg);
    -ms-transform: skewY(3deg);
    transform: skewY(3deg);
    width: 100%;
}
@media only screen and (min-width: 768px){
.dotted-background__dots {
    bottom: -210px;
}
.dotted-background {
    height: 420px;
}
}

